<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 团购商品列表 </nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <div class="text-c">
            <form>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">

                <th width="20">ID</th>
                <th width="100">商品名称</th>
                <th width="40">栏目分类</th>
                <th width="40">城市</th>
                <th width="40">购买件数</th>
                <th width="80">开始结束时间</th>
                <th width="80">创建时间</th>
                <th width="60">状态</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr class="text-c">
                {volist name='deals' id="vo"}
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td>{$categoryarrs[$vo.category_id]}</td>
                <td>{$cityarrs[$vo.city_id]}</td>
                <td>{$vo.total_count}</td>
                <td>{$vo.coupons_begin_time|date='Y-m-d h-i',###}<br />{$vo.coupons_end_time|date='Y-m-d h-i',###}</td>
                <td>{$vo.create_time|date='Y-m-d h-i',###}</td>
                <td class="td-status"><a href="{:url('deal/status',['id'=>$vo.id,'status'=>1])}" title="点击修改状态">{$vo.status|status}</a></td>
                <td class="td-manage"><a style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="查看"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                {/volist}
            </tr>

            </tbody>
        </table>

    </div>
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
